* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4FFC3;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #A9C46C;
    transition: 3s;
    color: #013220;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0px 15px 0px 15px;
}

nav ul li a{
    color: #013220;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    color: black;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

nav ul li  :hover {
    color: white;
}

.title h1{
    text-align: center;
    margin-top: 16px;
    font-family: "Itim", serif;
    font-size: 42px;
    word-spacing: 2px;
    color: #013220;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 10px;
}

.cardi {
    position: relative;
    background-color: #A9C46C;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardi h2 {
    color: #013220;
}

.cardi p {
    padding: 0px 10px 0px 10px;
    color: #013220;
}

.cardi img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    border-radius: 10px;
    padding: 10px 0px 20px 0px;
}

.card1 img {
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -o-transform: translateY(-35px);
}



.cardi h2 {
    padding-bottom: 10px;
    font-size: 24px;
    font-family: "Inter", serif;
    /* border-top: 5px solid #809D3C; */
}

.cardi ::after {
    content: "";
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%; /* Memenuhi lebar card */
    height: 10px; /* Ketebalan garis */
    background-color: #809D3C; /* Warna garis */
}

.cardi button {
    padding: 10px 40%;
    margin-top: 30px;
    background-color: #809D3C;
    color: #013220;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.more button {
    padding: 10px 44%;
    background-color: #809D3C;
    font-family:"Itim", serif;
    font-size: 32px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #F4FFC3;
    color: #809D3C;
}

.more button:hover {
    background-color: #A9C46C;
    color: #809D3C;
}

@media (max-width: 480px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .cardi {
        height: 100%;
        padding-bottom: 30px;
        text-align: justify;
    }

    .cardi ::after {
        display: none;
    }
    
    .more button {
        padding: 4px 22%;
        margin-bottom: 20px;
    }
}
